@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}

* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

:root {
  --text-size : 16px;
  --spaceing : 1rem;
  --text: black;
  
  --primary : white;
  --secondary :  black;
  --tertiary : rgb(37, 103, 207);
  --quaternary : silver;

  --shadow_color: rgba(0, 0, 0, 0.565);
  --shadow_size: 0.5em 0.5em 0.5em;
  --shadow: var(--shadow_size) var(--shadow_color);

  --transition: all 0.3s ease-in-out;
  --border: 1px solid var(--secondary);
}

/* Global Style Classes */
.shadow {
    box-shadow: var(--shadow);
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.button {
    background-color: var(--quaternary);
    color: var(--secondary);
    padding: var(--spaceing);
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    transition: var(--transition);
}

.button:hover {
    background-color: var(--tertiary);
    color: var(--primary);
    text-shadow: 0em 0em 1em white;
    box-shadow: var(--shadow);
}


.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 0.5em;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: var(--spaceing);
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondary);
    padding: var(--spaceing);
    margin: var(--spaceing);
    width: 50%;

    h1 {
        margin-bottom: var(--spaceing);
        text-align: center;
        text-decoration: underline;
    }

    .form-controls {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: var(--spaceing);
    }

    .form-label-input-group {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--spaceing);

        label {
            margin: 0em;
            padding: 0em;
        }

        input {
            padding: 0.5em;
            border: var(--border);
            border-radius: 0em;

        }
    }
}

/* MAIN LAYOUT STYLES */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5em;
    width: 100%;
    padding: var(--spaceing);

    border-bottom: 1px solid var(--secondary);

    a {
        text-decoration: none;
        color: var(--text);
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: left;

        h1 {
            font-size: 3.5em;
            margin: 0em;
            padding: 0em;
            color: var(--text);
        }

        img {
            width: 3.5em;
            height: 3.5em;
            margin-right: 0.5em;
        }
    }

    #userIcon {
        display: flex;
        align-items: center;
        justify-content: center;
       

        #userText {
            padding-right: var(--spaceing);
        }

        img {
            object-fit: cover;
            object-position: center;
             width: 3.5em;
            height: 3.5em;
            border-radius: 50%;
            border: 1px solid var(--secondary);
            overflow: hidden;
        }
    }
}

html {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    justify-content: left;

    content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
}

#sidebar {
    position: relative;
    margin: 0em;
    padding: 0em;
    height: 100vh;
    border-right: 1px solid var(--secondary);

    #sidebar-controls {
        display: flex;
        flex-direction: column;
        border-right: 1px solid var(--secondary);
        height: 100%;
        width: 3em;
    }

    #sidebar-content {
        display: flex;
        flex-direction: column;
        padding: var(--spaceing);
        width: 20em;
        height: 100%;
    }

    #resizer {
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: var(--secondary);
        cursor: ew-resize;
    }
}

#content-container {
    width: 100%;
    height: 100%;
    padding: 1em;
}

/* CUSTOM LAYOUTS */
#collection-card-container {
    display: flex;
    flex-direction: column;
}

#collection-card-search {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    border: 1px solid var(--secondary);
}

#collection-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: var(--spaceing);


    .collection-card {
        position: relative;
        aspect-ratio: 4 / 3;
        box-shadow: var(--shadow);
        display: flex;
        cursor: pointer;


        transition: var(--transition);

        .collection-card-tag {
            font-size: 1.5em;
            position: absolute;
            top: 0;
            right: 0;
            background-color: green; /* Example tag color */
            width: 20%;
            aspect-ratio: 1 / 1;
            clip-path: polygon(100% 0, 0 0, 100% 100%);
        }
        
        .collection-card-image {
            aspect-ratio: 4 / 3;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        .collection-card-header {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0.5em;
            
            /* gradient with black at bottom - transparent at top */
            padding: 1em;

            h2 {
                text-shadow: black 0.1em 0.1em 0.2em;
                color: white;
            }

            h4 {
                text-shadow: black 0.1em 0.1em 0.2em;
                color: white;
            }
        }
    }

    .collection-card:hover {
        transform: scale(1.02);
    }
}

